.title {
    color: green;
}

body {
    background: #000; 
    color: #0f0; 
    font-family: monospace; 
    padding: 20px; 
}

pre { 
    white-space: pre-wrap; 
    font-size: 14px; 
}

.ascii-title{
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  min-height: 100vh; /* Высота viewport для центрирования по вертикали */
}
