body {
    background: #000476; 
    color: #d035e3; 
    font-family: monospace; 
    /*padding: 20px; */
}

/*
pre { 
    white-space: pre-wrap; 
    font-size: 14px; 
}
*/

.ascii-title {
  text-align: center; /* Центрирует дочерние inline/block элементы */
}
.ascii-title-pre {
  font-family: monospace;
  display: inline-block;
  text-align: left;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачный белый фон, ИЗМЕНИТЬ*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999; /* Выше всего остального */
    transition: opacity 0.5s ease; /* Плавное исчезновение */
}

#preloader.hidden {
    opacity: 0;
    pointer-events: none; /* Чтобы не мешал кликам после скрытия */
}

/* Простая анимация спиннера */

/*
.ascii-preloader {

}
*/

/*
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*/

/* Кастомизация: добавьте ваш логотип или текст */
#preloader p {
    margin-top: 20px;
    font-size: 20px;
    color: #a928a8;
}