body {
    background: #000476; 
    color: #d035e3; 
    font-family: monospace; 
    /*padding: 20px; */
}

/*
pre { 
    white-space: pre-wrap; 
    font-size: 14px; 
}
*/

.ascii-title {
  text-align: center; /* Центрирует дочерние inline/block элементы */
}
.ascii-title-pre {
  font-family: monospace;
  display: inline-block;
  text-align: left;
}